        .range-price li {
            width: calc(50% - 5px);

        }

        .range-price li input {
            width: 100%;
            height: 45px;
            padding: 0 10px;
            border: 1px solid #bbb;
            border-radius: 5px;
            text-align: center;
        }


        .irs--round .irs-bar {
            background-color: $theme-color;
        }

        .irs--round .irs-handle {
            background-color: $theme-color;
            border-color: $theme-color;
            // box-shadow: 0px 0px 0px 5px rgba(0, 194, 192, 0.2);
            box-shadow: none;
        }

        .irs--round .irs-handle.state_hover,
        .irs--round .irs-handle:hover {
            background-color: $theme-color;
        }

        .irs--round .irs-handle {
            width: 16px;
            height: 16px;
            top: 29px
        }

        .irs--round .irs-from,
        .irs--round .irs-to,
        .irs--round .irs-single {
            background-color: transparent;
            color: #fff;
        }

        .irs--round .irs-from:before,
        .irs--round .irs-to:before,
        .irs--round .irs-single:before,
        .irs--round .irs-min,
        .irs--round .irs-max {
            display: none;
        }