
.section-title {
    h4 {
        font-size: 36px;
        line-height: 45px;
        padding-bottom: 20px;
        color: $theme-font;
        font-weight: 700;
    }
}



.section-padding {
    padding-top: 80px;
    padding-bottom: 40px;
}