// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
// fonts
$base-font-size: 20px;
$base-font:'Poppins', sans-serif;
$heading-font: 'Poppins', sans-serif;


// color
$theme-color : #FF5B2E;
$theme-font: #091727;

$white: #fff;
$black: #000;


// bg color 
$primary-bg: #FFFAF5;




  



























