// how it works section start 
.how-itWorks {
    background: #F7F7FF;
}
.how-itWorks-wrap {
    text-align: center;
    padding: 30px;
    background: $white;
    border-radius: 5px;
    margin-bottom: 30px;
    .text {
        .howIt-title {
            font-size: 18px;
            color: $theme-font;
            max-height: 35px;
            margin-bottom: 20px;
        }
        .howIt-info {
            font-size: 15px;
            color: #7e7c7c;
            text-align: center;
            line-height: 22px;
            max-height: 90px;
        }
    }
}
.howIt-icon {
    height: 90px;
    line-height: 90px;
    width: 90px;
    background: #F7F7FF;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
    display: inline-block;
    svg {
        max-width: 40px;
        max-height: 40px;
        path {
            fill: $theme-color;
        }
    }
}
// how it works section end 

// top provider section start 
.top-provider {
    padding-top: 100px;
    border-bottom: 1px solid #949393;
}
.single-top-provider {
    padding: 15px;
    border: 1px solid #949393;
    border-radius: 15px;
    margin-bottom: 30px;
    .provider-img {
        margin-bottom: 20px;
        overflow: hidden;
        img {
            width: 100%;
            transform: scale(1);
            transition: all .3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .provider-info {
        .provider-name {
            display: block;
            font-size: 18px;
            color: $theme-font;
            margin-bottom: 5px;
            transition: all .3s ease;
            &:hover{
                color: $theme-color;
            }
        }
        .provider-mail {
            font-size: 15px;
            color: #81B4E1;
            transition: all .3s ease;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
// top provider section end 
//testimoni section start 
.service-testimoni {
    background: #E9E9E9;
    .slick-arrow {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $theme-color;
        outline: none;
        border-radius: 50%;
        bottom: 0;
        color: #949393;
        position: absolute;
    }
    .pull-right {
        right: 0;
    }
    .pull-left {
        left: 0;
    }
    .slick-slide {
        margin: 0 10px;
        padding-bottom: 60px;
    }
}

.testimoni-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #F3F3F3;
    border-radius: 10px;
    margin-bottom: 45px;
    @media (max-width: 576px) {
        flex-direction: column;
        row-gap: 25px;
    }
    .testimoni-rating {
        .rating-title {
            display: flex;
            align-items: center;
            .icon {
                color: $theme-color;
                font-size: 20px;
                margin-right: 10px;
            }
            .rating-name {
                font-size: 18px;
                color: $theme-font;
                margin-right: 10px;
                font-weight: 600;
            }
            span {
                font-size: 13px;
                color: $theme-font;
                font-weight: 400;
            }
        }
    }
    .rating-point {
        font-size: 30px;
        font-weight: 600;
        color: $theme-font;
    }
}
.single-service-testimoni {
    text-align: center;
    padding: 25px;
    background: $white;
    border: 1px solid $theme-color;
    position: relative;
    margin-bottom: 60px;
    border-radius: 5px;
    &::after{
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        border-bottom: 1px solid $theme-color;
        border-right: 1px solid $theme-color;
        transform: rotate(45deg);
        background: $white;
        left: calc(50% - 15px);
        bottom: -15px;
        
    }
    .testimoni-authore-name {
        font-size: 20px;
        color: $theme-font;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .authore-title {
        font-size: 14px;
        color: $theme-color;
        margin-bottom: 15px;
        display: block;
    }
    .testimoni-content {
        font-size: 16px;
        color: $theme-font;
        height: 100px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .customer-rating {
        justify-content: center;
        display: flex;
    }
    .testimoni-authore-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -100px;
        img {
            max-height: 70px;
            max-width: 70px;
            width: 100%;
            border-radius: 50%;
            border: 2px solid $theme-color;
        }
    }
}

//testimoni section end 

//service list page start 
.service-list {
    .list-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
        @media (max-width: 576px) {
            flex-direction: column;
            row-gap: 20px;
        }
        .search-bar {
            width: 300px;
            position: relative;
            input {
                width: 100%;
                height: 40px;
                background: transparent;
                color: $theme-font;
                border: 1px solid $theme-font;
                outline: none;
                padding: 10px 20px;
                border-radius: 5px;
            }
            .search-btn {
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                font-weight: 400;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }
}
//service list page end

// service details page start 
.service-second-hero {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .page-title {
        font-size: 34px;
        color: $theme-font;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.service-details-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 25px;
    @media (max-width:768px) {
        flex-direction: column;
        row-gap: 20px;
        align-items: start;
    }
    .service-details-title {
        h5 {
            font-size: 26px;
            color: $theme-font;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .service-category {
            display: flex;
            align-items: center;
            .category-naem {
                a {
                    padding: 0 10px;
                    height: 35px;
                    font-size: 14px;
                    color: $theme-color;
                    background: #bed9f2;
                    border-radius: 5px;
                    line-height: 35px;
                    margin-right: 10px;
                    display: block;
                }
            }
            .service-place {
                font-size: 14px;
                color: $theme-font;

            }
        }
    }
}
.service-details-wrap {
    .service-details-img {
        position: relative;
        margin-bottom: 30px;
        img {
            border-radius: 5px;
            width: 100%;
            max-height: 450px;
        }
        .showall-btn {
            position: absolute;
            bottom: 15px;
            left: 15px;
            background: $theme-font;
            color: $white;
            border: 1px solid $theme-font;
            font-weight: 400;
            i {
                margin-right: 5px;
            }
        }
    }
    .service-info {
        margin-bottom: 25px;
        p {
            font-size: 15px;
            line-height: 28px;
            color: #8d8c8c;
        }
    }
}

.service-single-info {
    display: flex;
    flex-wrap: wrap;
    li {
        flex-basis: 50%;
        display: flex;
        column-gap: 15px;
        align-items: center;
        margin-bottom: 25px;
        @media (max-width: 536px) {
            flex-basis: 100%;
        }
        .info-figure {
            height: 50px;
            width: 50px;
            line-height: 50px;
            border-radius: 50%;
            background: #F6F6F6;
            text-align: center;
            a {
                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }
        }
        .content-text {
            .title {
                font-size: 18px;
                color: $theme-font;
                font-weight: 600;
                @media (max-width: 768px) {
                    font-size: 17px;
                }
            }
            .subtitle {
                font-size: 15px;
                color: #949393;
                i {
                    color: #FFC867;
                }
                .view-count {
                    color: $theme-font;
                    font-weight: 600;
                }
                a {
                    font-size: 15px;
                    color: #949393;                        
                }
            }
        }
    }
}
.service-provider-info {
    margin-bottom: 30px;
    .service-gallary-active {
        img {
            max-height: 165px;
            margin: 0 10px;
            border-radius: 5px;
        }
        .slick-arrow {
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            border: 1px solid $theme-color;
            color: #8d8c8c;
            top: -40px;
            right: 10px;
            position: absolute;
        }
        .pull-left {
            right: 50px;
        }
    }
    .service-video {
        width: 100%;
        iframe{
            width: 100%;
            height: 350px;
            @media (max-width: 768px) {
                height: 270px;
            }
        }
    }
    .review-condition {
        padding: 20px 15px;
        background: #76b0e2;
        border: 1px solid #81B4E1;
        font-size: 16px;
        color: $white;
        border-radius: 5px;
    }
    .related-service-active {
        .slick-slide {
            margin: 0 10px;
        }
        .slick-arrow {
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            border: 1px solid $theme-color;
            color: #8d8c8c;
            top: -40px;
            right: 10px;
            position: absolute;
        }
        .pull-left {
            right: 50px;
        }        
    }
}

.service-content-title {
    font-size: 24px;
    line-height: 32px;
    color: $theme-font;
    font-weight: 600;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        font-size: 21px;
        line-height: 26px;
    }
}
.review-box {
    padding: 15px;
    border: 1px solid #949393;
    margin-bottom: 30px;
    border-radius: 5px;
    .reviews-content {
        font-size: 16px;
        color: #949393;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
.review-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .title-left {
        display: flex;
        column-gap: 15px;
        .info-figure {
            img {
                max-width: 50px;
                max-height: 50px;
                width: 100%;
                border-radius: 50%;
            }
        }
        .content-text {
            .title {
                font-size: 16px;
                color: #585858;
                font-weight: 600;
            }
            .subtitle{
                font-size: 14px;
                color: #949393;
            }
        }
    }
}
.service-start-rate {
    .start-rating{
        display: flex;
        align-items: center;
        font-size: 12px;
        justify-content: center;
        .back-starts{
            display: flex;
            color: #fff;
            position: relative;
            .front-stars {
                display: flex;
                color: #ffe600;
                overflow: hidden;
                position: absolute;
                top: 0;
            }
            
        }
    }
}

.service-price {
    padding: 25px 20px;
    border: 1px solid #8d8c8c;
    border-radius: 10px;
    margin-bottom: 30px;
    li {
        flex-basis: 100%;
        justify-content: space-between;
        margin-bottom: 0;
        .info-figure {
            order: 2;
        }
    }
}
.service-time {
    padding: 20px;
    background: #F7F7FF;
    border-radius: 10px;
    margin-bottom: 20px;
    .service-week-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        .day-time {
            font-size: 16px;
            color: $theme-font;
            font-weight: 600;
            @media (max-width: 576px) {
                font-size: 14px;
            }
        }
        .week-day {
            font-size: 14px;
            color: #949393;
            font-weight: 400;
        }
    }
}
.book-service-btn {
    width: 100%;
    .service-bookBtn {
        width: 100%;
        display: block;
    }
}
.package-area {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px;
    .packeg-title {
        font-size: 18px;
        background: $theme-font;
        color: $white;
        padding: 15px 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom: 10px;
    }
    .packeg-info {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 20px;
            .packeg-name{
                font-size: 16px;
                color: #585858;
                font-weight: 400;
            }
            .packeg-price {
                font-size: 16px;
                color: $theme-font;
                font-weight: 600;
            }
        }
    }
}
// service provider profile page start 
.provider-profile-hero {
    height: 420px;
    display: flex;
    align-items: center;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        height: 100%;
        width: 30%;
        right: 0;
        top: 0;
        background: $theme-color;
        z-index: 1;
        @media (max-width: 992px) {
            display: none;
        }
    }
}
.provider-hero-wrap {
    display: flex;

}
.provider-info {
    flex-basis: 50%;
    text-align: center;
    @media (max-width: 992px) {
        flex-basis: 100%;
    }
    .featured-title {
        font-size: 12px;
        color: #767676;
    }
    .provider-profile-img{
        img {
            max-height: 130px;
            max-width: 130px;
            border-radius: 50%;
            width: 100%;
        }
    }
    .provider-name {
        font-size: 22px;
        color: $theme-font;
        margin: 5px 0 15px 0;
    }
    .certified-text {
        font-size: 13px;
        color: #767676;
        display: block;
        margin-bottom: 10px;
    }
    .photo-count {
        font-size: 12px;
        color: #767676;
        text-decoration: underline;
        display: block;
        margin-bottom: 10px;
    }
}

.provider-social {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    li {
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 14px;
        &:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;            
        }
        a {
            color: $white;
        }
    }
}
.profile-btns {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    @media (max-width: 425px) {
        flex-direction: column;
        row-gap: 15px;
    }
}
.service-provider-img {
    flex-basis: 50%;
    position: relative;
    z-index: 11;
    img {
        max-width: 460px;
        border-radius: 15px;
    }
    @media (max-width: 992px) {
        display: none;
    }

}
.fb-bg {background: #3A5799;}
.twt-bg{background: #009DDC;}
.in-bg{background: #0082CA;}
.pr-bg{background: #BD0E15;}
.dig-bg{background: #2B6FB8;}


.provider-service-tabs {
    // padding: 20px 0;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 50px;
}
.service-tab-list {
    width: 100%;
    justify-content: space-around;
    border-bottom: none;
    .nav-item {
        width: 25%;
        text-align: center;
        display: flex;
        justify-content: center;
        .nav-link {
            padding: 20px 0;
            border: none;
            width: 100%;
            transition: all .4s ease;
            font-size: 15px;
            color: $theme-font;
            font-weight: 600;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background: $theme-color;
                left: 0;
                bottom: 0px;
                transition: all .5s ease;
            }
            &.active{
                color: $theme-color;
                &::after{
                    width: 100%;
                }
            }
            &:hover{
                color: $theme-color;
                &::after{
                    width: 100%;
                }
            }
        }
    }
}
.content-title {
    font-size: 26px;
    font-weight: 600;
    color: $theme-font;
    border-bottom: 2px solid #DDDDDD;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    @media (max-width: 768px) {
        font-size: 20px;
    }
    &::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 200px;
        bottom: -2px;
        left: 0;
        background: $theme-font;
        @media (max-width: 768px) {
            width: 100px;
        }
    }
}
.service-about-content {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #DDDDDD;
    .content-category {
        font-size: 16px;
        color: #7C7C7C;
        margin-bottom: 20px;
        span{
            color: $theme-font;
            font-weight: 600;
            margin-right: 5px;
        }
    }
    p {
        font-size: 14px;
        color: #7C7C7C;
        line-height: 24px;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.explore-social {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .provider-social {
        margin-bottom: 0;
    }
    p {
        font-size: 16px;
        color: $theme-font;
        font-weight: 500;
        margin-right: 10px;        
    }
}
.lang-exp-awards {
    margin-bottom: 30px;
}

.awards-tab-btn {
    margin-bottom: 30px;
    .nav-tabs {
        .nav-link {
            padding: 20px 0;
            margin-right: 25px;
            border: none;
            transition: all .4s ease;
            font-size: 15px;
            color: $theme-font;
            font-weight: 600;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background: $theme-color;
                left: 0;
                bottom: 0px;
                transition: all .5s ease;
            }
            &.active{
                color: $theme-color;
                &::after{
                    width: 100%;
                }
            }
            &:hover{
                color: $theme-color;
                &::after{
                    width: 100%;
                }
            }
        }

    }
}
.language-list {
    flex-wrap: wrap;
    display: flex;
    @media (max-width: 991px) {
        column-gap: 40px;
    }
    li {
        display: flex;
        align-items: center;
        flex-basis: 33.33%;
        margin-bottom: 25px;
        @media (max-width: 991px) {
            flex-basis: auto;
        }
        .country-img {
            height: 45px;
            width: 45px;
            border: 1px solid #DDDDDD;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            img {
                max-width: 20px;
            }
        }
        .country-language {
            color: #767676;
            font-size: 14px;
        }
    }
}
.experience-box {
    padding: 20px;
    border: 1px solid #777;
    margin-bottom: 30px;
    .experience-title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
        .experience-title-left {
            a {
                display: block;
                .company-position {
                    font-size: 18px;
                    color: #555;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .company-name {
                    font-size: 16px;
                    color: #777;
                }
            }
        }
        .experience-title-right {
            font-size: 16px;
            color: #777;
        }
    }
    .exp-info {
        font-size: 14px;
        color: #777;
        line-height: 22px;
    }
}
.award-content {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    .award-box {
        display: flex;        
        align-items: flex-start;
        column-gap: 20px;
        margin-bottom: 30px;
        .award-img {
            img {
                max-width: 150px;
            }
        }
        .award-info {
            .award-title {
                font-size: 16px;
                color: $theme-font;
                margin-bottom: 15px;
            }
            .passing-year {
                font-size: 14px;
                color: #777;
                margin-bottom: 15px;
                display: block;
            }
            .download-btn {
                display: block;
                background: $theme-font;
                border: 1px solid $theme-font;
                color: $white;
            }

        }
    }
}
.document-content {
    .document-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-top: 1px solid #dee2e6;
        @media (max-width: 768px) {
            flex-direction: column;
            row-gap: 15px;
            align-items: flex-start;
        }
        a {
            display: block;
            color: #222;
            span {
                margin-right: 10px;
            }
        }
    }
}
.map-schedule {
    display: flex;
    column-gap: 15px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 20px;
    }
    .service-contact-map {
        flex-basis: 50%;
        #serviceMap {
            height: 100%;
            border-radius: 10px;
        }
    }
    .service-schedule {
        flex-basis: 50%;
        .service-time {
            margin-bottom: 0;
            .service-week-time {
                .day-time {
                    order: 2;
                }
            }
        }
    }
}
.address-widget {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @media (max-width: 576px) {
        flex-direction: column;
    }
    li {
        width: 50%;
        margin-bottom: 30px;
        @media (max-width: 576px) {
           width: 100%;
        }
        .address-widget-title {
            font-size: 18px;
            color: $theme-font;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            color: #7c7c7c;
            line-height: 24px;
            a {
                color: #7c7c7c;
                transition: all .3s ease;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
}
.video-active {
    margin-bottom: 50px;
    .single-video {
        margin-bottom: 20px;
        .video-tumbnil {
            position: relative;
            display: inline-block;
            width: 100%;
            line-height: 0;
            .provider-video-poster {
                border-radius: 12px;
                width: 100%;
            }
            .play-icon {
                position: absolute;
                height: 45px;
                width: 45px;
                line-height: 45px;
                text-align: center;
                background: $theme-color;
                color: $white;
                font-size: 18px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                z-index: 1;
            }
        }
    }
    .slick-slide {
        padding: 0 10px;
    }
    .slick-arrow {
        position: absolute;
        bottom: -30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: $white;
        color: #717171;
        border-radius: 50%;
        border: 1px solid #717171;
        outline: none;
        transition: all .3s ease;
        left: 52%;
        transform: translateX(-50%);
        @media (max-width: 768px) {
            left: 54%;
        }
        &:hover{
            background: $theme-color;
            color: $white;
            border: 1px solid $theme-color;
        }
    }
    .pull-left { 
        left: 48%;
        transform: translateX(-50%);
        @media (max-width: 768px) {
            left: 46%;
        }   
    }
    .slick-list{
        margin: 0 -10px;
    }
}
.service-video-modal {
    .modal-body {
        padding: 0;
        line-height: 0;
        border-radius: 5px;
    }
    .service-video-modal-close {
        position: absolute;
        top: 0;
        right: -25px;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        color: $white;
        border: none;
        outline: none;
        background: transparent;
    }
    .service-playing-video {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: none;
        outline: none;
    }
}
// service details page end 