#hero-slider {
    position: relative;
    .hero-slider__slide{
      height: 440px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
      color: white;
      cursor: pointer;
      .logo-img {
        margin-bottom: 40px;
        @media (max-width: 991px) {
          margin-bottom: 30px;
        }
        @media (max-width: 768px) {
          margin-bottom: 25px;
        }
        @media (max-width: 576px) {
          margin-bottom: 20px;
        }
        img {
          max-width: 180px;
          @media (max-width:576px) {
            max-width: 130px;
          }
        }
      }
      h2 {
        font-size: 55px;
        line-height: 66px;
        margin-bottom: 30px;
        font-weight: 600;
        @media (max-width: 991px) { 
          font-size: 40px; 
          line-height: 55px;
          margin-bottom: 25px;
        }
        @media (max-width: 576px) {
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 15px;
        }

        // @media (min-width: 576px) { font-size: 78px; }
        // @media (min-width: 768px) { font-size: 98px; }
      }
      .brannd-quality {
        display: flex;
        align-items: center;
        .brand-logo {
            display: flex;
            align-items: center;
            margin-right: 50px;
            padding-bottom: 30px;
            @media (max-width: 768px) {
              margin-right: 30px;
            }
        }
      }
    }
    .slick-arrow {
      background: #FFFAF5;
      color: #091727;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 40px;
      border: 1px solid #091727;
      line-height: 30px;
      font-size: 20px;
      z-index: 1;
    }
    .pull-left {
      left: 20px;
      @media (max-width: 991px) {
        left: 10px;
      }
      @media (max-width:576px) {
        left: 5px;
      }
    }
    .pull-right{
      left: 95%;
      @media (max-width: 991px) {
        left: 93%;
      }
      @media (max-width: 576px) {
        left: 90%;
      }
      @media (max-width: 425px) {
        left: 87%;
      }
    }
    .slick-dots {
      display: flex;
      align-items: center;
      font-size: 0;
      bottom: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li {
        margin: 0 10px;
        height: 15px;
        width: 15px;
        background: #FF5B2E;
        border-radius: 50%;
        transition: .3s;
      }
      li.slick-active {
        width: 30px;
        height: 10px;
        border-radius: 30px;
      }
      button {
        border: none;
      }
    }
}

.first-content {
  padding: 0 50px;
  h2 {
    width: 60%;
    @media (max-width:768px) {
      width: 100%;
    }
    span {
      color: #FFCA1F;
      margin-right: 10px;
    }
  }
}
.second-content { 
  .logo-img{
    display: flex;
    justify-content: center;
  }
  h2 {
    width: 100%;
  }
  .brannd-quality {
    justify-content: center;
  }
}
