

.dashboard-profile-social {
    display: flex;
    column-gap: 20px;

    .profile-social-link {
        width: 40px;
        height: 40px;
        // background-color: $theme-color;
        color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;

        @media (max-width: 768px) {
            width: 30px;
            height: 30px;
            font-size: 14px;
        }

        &:hover {
            background-color: $primary-bg;
            color: $theme-color;
        }
    }
    .facebook-bg{
        background-color: #3b5998;
    }
    .twitter-bg{
        background-color: #00acee;
    }
    .youtube-bg{
        background-color: #c4302b;
    }
    .google-plus-bg{
        background-color: #db4a39;
    }

}