.main-profile {
    padding-top: 10px;
    overflow: hidden;
}
.full-profile-box {
    background: $white;
    margin: 0 15px;
}
.full-profile-cover {
    position: relative;
    img {
        max-height: 230px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        @media (max-width: 576px) {
            height: 150px;
        }
    }
    .edit-cover {
        position: absolute;
        bottom: 20px;
        right: 20px;
        button {
            font-size: 14px;
            color: $theme-font;
            transition: all .3s ease;
            outline: none;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
        }
        &:hover{
            button {
                background: $theme-color;
                color: $white;
            }
        }
    }
    .group-add-btn {
        position: absolute;
        bottom: 25px;
        right: 25px;
        @media (max-width:576px) {
            bottom: 10px;
            right: unset;
            left: 15px;
        }
    }
}
.full-profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    @media (max-width: 900px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        padding: 0 25px;
    }
    // @media (max-width: 700px) {
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-items: baseline;
    //     padding: 0 25px;
    // }
    .profile-statistics {
        @media (max-width: 900px) {
            width: 100%;
        }
        // @media (max-width: 715px) {
        //     width: 100%;
        // }
    }
}
.full-profile-left {
    display: flex;
    align-items: center;
    .profile-img {
        position: relative;
        margin-top: -100px;
        a {
            img {
                height: 180px;
                width: 150px;
                border-radius: 5px;
                object-fit: cover;
                @media (max-width: 991px) {
                    height: 160px;
                    width: 140px;
                }
                @media (max-width: 576px) {
                    height: 130px;
                    width: 120px;
                }
            }
        }
        .replace-icon {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: $white;
            text-align: center;
            transition: all .3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            .replace-btn {
                border: none;
                outline: none;
                background: transparent;
                svg {
                    width: 18px;
                    path {
                        fill: $theme-font;
                        transition: all .3s ease;
                    }
                }
            }
            &:hover{
                background: $theme-color;
                .replace-btn {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
    .profile-name {
        margin-left: 50px;
        @media (max-width: 900px) and (min-width: 768px) {
            margin-left: 10px;
        }
        @media (max-width: 768px) {
            margin-left: 10px;
        }
        h6 {
            a {
                font-size: 16px;
                color: $theme-font;
                transition: all .3s ease;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .locaiton {
            font-size: 13px;

        }
    }
}
.profile-down-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 50px;
    @media (max-width:900px) and (min-width: 768px) {
        flex-direction: column;
        padding: 25px;
    }
    @media (max-width: 690px) {
        flex-direction: column;
        padding: 25px;
    }
    .community-profile-social {
        display: flex;
        align-items: center;
        column-gap: 10px;
        li {
            a {
                img {
                    max-width: 35px;
                }
            }
        }
    }
    .profile-dwon-tab {
        border-bottom: none;
        @media (max-width:900px) and (min-width: 768px) {
            order: 2;
            margin: 15px 0;
        }
        @media (max-width: 690px) {
            order: 2;
            margin: 15px 0;
        }
        .nav-item {
            margin-right: 30px;
            @media (max-width: 425px) {
                margin-right: 15px;
            }
            &:last-child{
                margin-right: 0;
            }
            .nav-link {
                padding: 5px 0;
                background: transparent;
                border: none;
                color: $theme-font;
                transition: all .3s ease;
                position: relative;
                @media (max-width: 425px) {
                    font-size: 13px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    background: $theme-color;
                    bottom: 0;
                    left: 0;
                    transition: all .3s ease;
                }
                &:hover{
                    color: $theme-color;
                    &::after{
                        width: 100%;
                    }
                }
            }
            .nav-link.active{
                color: $theme-color;
                &::after{
                    width: 100%;
                }
            }
        }
    }
}

// about content style

.profile-about-left {
    .about-left-title {
        font-size: 17px;
        color: $theme-font;
        font-weight: 600;
        flex-basis: 85%;
        @media (max-width: 1490px) and (min-width: 1399px) {
            font-size: 14px;
        }
        @media (max-width: 1024px) {
            font-size: 15px;
        }
    }
}
.profile-personal-information {
    li {
        font-size: 16px;
        color: #6B7C8F;
        margin: 10px 0;
        line-height: 26px;
        word-wrap: break-word;
        @media (max-width: 1490px) and (min-width: 1399px) {
            font-size: 13px;
        }
        @media (max-width: 1024px) {
            font-size: 13px;
        }
        span {
            color: $theme-color;
            margin-right: 5px;
        }
        a {
            color: #6B7C8F;
            word-wrap: break-word;
        }
    }
}
.community-aboutMe-content {
    p {
        font-size: 16px;
        line-height: 26px;
        color: #6B7C8F;
        @media (max-width: 1490px) and (min-width: 1399px) {
            font-size: 14px;
        }
        @media (max-width: 1024px) {
            font-size: 14px;
        }
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.education-work-list {
    .single-education {
        .education-title {
            font-size: 15px;
            color: $theme-font;
            font-weight: 600;
            margin-bottom: 15px;
            @media (max-width: 1490px) and (min-width: 1399px) {
                font-size: 14px;
            }
            @media (max-width: 1024px) {
                font-size: 14px;
            }
            span {
                color: #6B7C8F;
            }
        }
        .education-sub-title {
            font-size: 15px;
            color: #6B7C8F;
            margin-bottom: 15px;
            @media (max-width: 1490px) and (min-width: 1399px) {
                font-size: 14px;
            }
            @media (max-width: 1024px) {
                font-size: 14px;
            }
        }
        .details {
            font-size: 15px;
            color: #6B7C8F;
            @media (max-width: 1490px) and (min-width: 1399px) {
                font-size: 14px;
            }
            @media (max-width: 1024px) {
                font-size: 14px;
            }
        }
        margin-bottom: 20px;
    }
}


// friends tab content
.friends-tab-wrap {
    .friends-title {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        background: $white;
        border-radius: 5px;
        .friends-count {
            p {
                font-size: 17px;
                color: $theme-font;
                display: block;
                @media (max-width: 375px) {
                    font-size: 13px;
                }
            }
            span {
                font-size: 16px;
                display: block;
                color: $theme-color;
                @media (max-width: 375px) {
                    font-size: 13px;
                }
            }
        }
        .status-tab {
            border-bottom: none;
            .nav-item {
                margin-right: 30px;
                @media (max-width: 375px) {
                    margin-right: 15px;
                }
                &:last-child{
                    margin-right: 0;
                }
                .nav-link {
                    padding: 5px 0;
                    background: transparent;
                    border: none;
                    color: $theme-font;
                    transition: all .3s ease;
                    position: relative;
                    @media (max-width: 375px) {
                        font-size: 13px;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        background: $theme-color;
                        bottom: 0;
                        left: 0;
                        transition: all .3s ease;
                    }
                    &:hover{
                        color: $theme-color;
                        &::after{
                            width: 100%;
                        }
                    }
                }
                .nav-link.active{
                    color: $theme-color;
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
        .search_box {
            margin: 0;
        }
    }
}
.profile-friend-list {
    padding: 25px 0 0 0;
}
.single-profile-list {
    margin-bottom: 30px;
    @media (max-width: 768px) and (min-width: 500px) {
        padding: 0 50px;
    }
    .profile-cover {
        position: relative;
        a{
            img {
                max-height: 90px;
            }
        }
        .add-friend-icon {
            position: absolute;
            bottom: 20px;
            right: 20px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid $theme-color;
            transition: all .3s ease;
            a {
                color: $white;
            }
            &:hover{
                background: $theme-color;
            }
        }
    }
    .profile-statistics{
        padding: 25px 0;
    }
    .profile-title {
        position: relative;
        a {
            img {
                max-width: 90px;
                max-height: 90px;
            }
        }
    }
    .add-msg-btn {
        display: flex;
        justify-content: space-between;
        @media (max-width:1024px) and (min-width:991px){
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
        }
        li {
            button {
                height: 30px;
                padding: 0 10px;
                text-align: center;
                font-size: 11px;
                outline: none;
                border: 1px solid $theme-color;
                color: $theme-font;
                transition: all .3s ease;
                border-radius: 5px;
                &:hover{
                    background: $theme-color;
                    color: $white;
                }
            }
        }
    }
    &:hover{
        .profile-cover {
            .add-friend-icon {
                background: $theme-color;
            }
        }
        .add-msg-btn {
            li {
                .add-btn {
                    background: $theme-color;
                    color: $white;
                }
            }
        }
    }
}
.single-gallary-photo {
    position: relative;
    margin-bottom: 30px;
    a {
        img {
            border-radius: 5px;
            max-height: 300px;
            width: 100%;
        }
    }
    .icon-list {
        display: flex;
        column-gap: 10px;
        position: absolute;
        bottom: 20px;
        right: 20px;

        li {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            line-height: 35px;
            background: $white;
            text-align: center;
            transition: all .3s ease;
            a {
                .icon {
                    svg{
                        width: 18px;
                        path {
                            fill: $theme-color;
                        }
                    }
                }
            }
            &:hover{
                background: $theme-color;
                a {
                    .icon{
                        svg{
                            path{
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
