.shop-left {
    @media (max-width:991px) {
        position: fixed;
        left: -320px;
        top: 0;
        width: 320px;
        background: #fff;
        z-index: 11;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, .1);
        padding: 20px;
        max-height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
        transition: all .4s ease-in-out 0s;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
            left: 0;
        }

        @media (max-width:991px) {
            padding-top: 40px;
        }


    }
}

.closeShopbtn {
    position: absolute;
    color: rgba($color: #000000, $alpha: 0.2);
    top: 0;
    right: 25px;
    font-size: 45px;
    display: block;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $theme-color;
    }

    @media (min-width:991px) {
        display: none;
    }
}

#filter {
    display: none;

    @media (max-width: 991px) {
        display: block;
    }
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    transition: background-color 0.4s ease;
    @media (max-width: 991px) {
        background-color: rgba(0,0,0,0.4);
    }
}

// camp link
.camp-link {
    margin-top: 40px;

    .breadcumb {
        // display: flex;
        // flex-wrap: wrap;
        font-size: 13px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding-bottom: 15px;

        li {
            display: inline;
            margin-right: 10px;

            i {
                margin-left: 10px;
            }
        }

        a {
            color: $theme-font;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $theme-color;
            }

        }
    }

}

// shop main content
.shop-main-content {
    margin-bottom: 100px;
}

// shop left content
.shop-by-categories {
    .shop-by-categories-list {
        padding: 10px 0 25px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

        li {
            padding: 10px 0;

            a {
                color: $theme-font;
                font-size: 14px;
                font-weight: 700;
                transition: all 0.2s ease-in-out;

                &:hover {
                    text-decoration: underline;
                    color: $theme-color;
                }
            }

            i {
                text-align: end;
            }
        }

        
        .collapse-list {
            padding: 5px 0;
        }

        .collapse-link {
            font-size: 13px;
            font-weight: 400;
        }
    }
}

.shop-by-price {
    padding: 30px 0 40px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.shop-by-brand {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.check-list {
    margin-top: 20px;

    li {
        a {
            color: $theme-font;
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            font-size: 14px;

            &:hover {
                color: $theme-color;
                text-decoration: underline;
            }
        }
    }
}

.shop-by-color {
    padding: 30px 0 40px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    .color-circle {
        margin: 0 14px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
    }
}

.shop-by-pets {
    padding: 30px 0 40px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.cls-btn {
    font-size: 12px;
    color: $theme-font;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $theme-color;
        text-decoration: underline;
    }
}

.packaging-type {
    padding: 30px 0 40px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.packaging-type-list {
    margin-top: 20px;
    display: flex;

    .packaging-single-item {
        margin-right: 10px;

        a {
            color: $theme-font;
            font-size: 12px;
            font-weight: 600;
            border: 1px solid black;
            border-radius: 5px;
            padding: 2px 8px;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $theme-color;
                border: 1px solid $theme-color;
            }
        }
    }
}

.shop-by-weight {
    padding: 30px 0 40px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.rating {
    padding: 30px 0 40px;
    // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

// star rating
.star-rating {
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: start;

    .back-stars {
        display: flex;
        color: gray;
        position: relative;

        i {
            margin: 0 2px;
        }

        .front-stars {
            display: flex;
            color: #ffe600;
            overflow: hidden;
            position: absolute;
            top: 0;
            transition: all .5s ease-in-out 0s;
        }
    }
}

// reset
.reset {
    padding: 30px 0 40px;
}

// shop right content top
.shop-right-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:768px) {
        flex-direction: column-reverse;
        align-items: start;
        row-gap: 10px;
    }
    select{
        @media (max-width:768px) {
            min-width: 100%;
            width: 100%;
        }
    }
    .show-and-sorting{
        display: flex;
        align-items: center;
        @media (max-width:768px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }
        p{
            margin-right: 20px;
            @media (max-width:768px) {
                margin-right: 0;
            }
        }
    }
}

.option {
    margin-top: 30px;

    .option-list {
        display: flex;
        align-items: center;

        li {
            margin-right: 20px;

            &:first-child {
                background-color: $primary-bg;
                padding: 8px;
            }
        }

        a {
            color: $theme-font;
            text-decoration: underline;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $theme-color;
            }
        }
    }
}

.shop-card-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.description {
    margin-top: 60px;
}

.accordian-area {
    margin-top: 20px;
   
}
