.orders-content{
    padding-top: 40px;
}

.orders-table {
    .table {
        border-collapse: separate;
        border-spacing:0 20px;
    }

}

.orders-table-head{
    background-color: #ffebd7;
}



.orders-table-img{
    width: 100px;
    height: 100px;
    // border-radius: 50%;
    object-fit: cover;
}