.wishlist-details-content {
    margin: 40px 0 100px;
}

.wishlist-card {
    padding: 15px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    max-width: 190px;
    width: 100%;

    @media (max-width:576px) {
        max-width: 100%;
        width: 100%;
       
    }

    position: relative;
    margin-bottom: 30px;

    img {
        max-height: 160px;
        max-width: 100%;
        object-fit: contain;
        @media (max-width:576px) {
            width: 100%;
           margin-bottom: 15px;
        }
    }

    .card-title {
        a {
            font-size: 15px;
            font-weight: 600;
            color: $theme-font;
            transition: all .3s ease;

            &:hover {
                color: $theme-color;
            }
        }
    }

    .card-sub-title {
        a {
            font-size: 14px;
            line-height: 22px;
            color: $theme-font;
            transition: all .3s ease;

            &:hover {
                color: $theme-color;
            }
        }
    }

    .price-tag {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back-price {
            color: #515356;
        }

        .cart-btn {
            font-size: 22px;
            color: $theme-font;
            transition: all .3s ease;

            &:hover {
                color: $theme-color;
            }
        }
    }

    .wishlist-hover-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        @media (max-width:991px) {
            visibility: visible;
            opacity: 1;
        }

        li {
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            background-color: white;
            box-shadow: inset 0 0 0 1px #ebebeb;
            margin: 5px 0;
            transition: all .3s ease;

            &:hover {
                box-shadow: inset 0 0 0 1px $theme-font;
            }

            a {
                color: $theme-font;
            }
        }
    }

    .wishlist-cross-btn {
        width: 20px;
        height: 20px;
        background-color: $theme-font;
        color: white;
        display: block;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        @media (max-width:991px) {
            visibility: visible;
            opacity: 1;
        }
    }

    &:hover {

        .wishlist-hover-list,
        .wishlist-cross-btn {
            visibility: visible;
            opacity: 1;
        }
    }
}
.wishlist-modal-cross-btn {
    width: 35px;
    height: 35px;
    font-size: 30px; 
    background-color: $theme-font;
    color: white;
    display: block;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    &:hover{
        color: white;
    }
  
}