.social-theme-btn{
    background-color: $theme-color;
    color:  $white;
    font-weight: 600;
    padding: 11px 25px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    border: 1px solid $theme-color;
    display: inline-block;
    height: 40px;
    line-height: 18px;
    text-align: center;
    &:hover{
        background: $primary-bg;
        border: 1px solid $theme-color;
        color: $theme-font;
    }
}